<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENABLE_TEST_LOCAL_SUPABASE</key>
	<string>$(ENABLE_TEST_LOCAL_SUPABASE)</string>
	<key>SUPABASE_LOCAL_ACCOUNT_EMAIL</key>
	<string>$(SUPABASE_LOCAL_ACCOUNT_EMAIL)</string>
	<key>SUPABASE_LOCAL_ACCOUNT_PASSWORD</key>
	<string>$(SUPABASE_LOCAL_ACCOUNT_PASSWORD)</string>
	<key>SUPABASE_LOCAL_KEY</key>
	<string>$(SUPABASE_LOCAL_KEY)</string>
	<key>SUPABASE_LOCAL_URL</key>
	<string>$(SUPABASE_LOCAL_URL)</string>
</dict>
</plist>
