//
//  Debug.xcconfig
//  SafeAreaBoard
//
//  Created by 임영택 on 4/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_URL=https:/$()/YOUR_PROJECT_ID.supabase.co
SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_LOCAL_URL=http:/$()/127.0.0.1:54321
SUPABASE_LOCAL_KEY=YOUR_LOCAL_SUPABASE_ANON_KEY
SUPABASE_LOCAL_ACCOUNT_EMAIL=test@test.com
SUPABASE_LOCAL_ACCOUNT_PASSWORD=test
ENABLE_TEST_LOCAL_SUPABASE=true
